<% if (typeof error !='undefined' ) { %> <% error.forEach(error=> { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= error.msg %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
        ria-label="Close"
    ></button>
  </div>
<% }) %> <% } %>